.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('./Images/KCT_Banner.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 384px;
}
.header-text{
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline;
  border: 6px solid #fff;
  margin: 0;
  padding: 10px 30px 24px;
  letter-spacing: 2px;
  width: 50%;
  font-size: larger;
  text-align: center;
}

.grid{
  display: flex;
}
.charts-container {
    display: flex;
    flex-wrap: wrap;
}
.chart-item {
text-align: center;
width: 33.33%;
}

.button-graph{
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  transition: transform 0.2s;
}
.button-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.button-group-graph{
  margin-top: 5%;
  margin-bottom: 5%;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: scale(0.99);
}
.box{
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
.box-data{
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(64, 64, 64, 0.7);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.box-element{
  display: block;
  color: #fff;
  font-size: xx-large;
  font-weight: bold;
}
.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(to bottom right, #43c6ac, #191654);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  margin-bottom: 10%;
}

.box1 .image {
  border-radius: 10px;
  width: 200px;
  height: auto;
}

.box1 .text {
  font-size: 3.5rem;
  color: #fff;
}
.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h4 {
  font-size: x-large;
  font-weight: lighter;
  margin: 0;
}
.logo1{
  text-align: center;
  color: #fff;
}
.logo1 h4{
  font-weight: bolder;
}
span {
  font-size: larger;
}

.container1 {
  display: flex;
  flex-direction: column;
  color: #fff;
  background-image: linear-gradient(to bottom right, #43c6ac, #191654);
  padding: 20px;
  border-radius: 10px;
}
.container2 {
  display: flex;
  background-image: linear-gradient(to bottom right, #43c6ac, #191654);
  border-radius: 10px;
}
.container2-image{
  display: flex;
  align-items: center;
}
.container2-image img {
  height: 80%;
  width: 80%;
  object-fit: cover;
}
.container2-content{
  display: flex;
  justify-content: center;
  border-right: 2px solid #fff;
}
.container2-content:last-child{
  border-right: none;
}
.container2-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
}
.container2-text span{
  font-size: xx-large;
  font-weight: bold;
}
.container2-text h4{
  font-weight: lighter;
}
.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.col1 {
  flex-basis: calc(50% - 10px);
}
.col1 span{
  font-size: 2rem;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
}


.box-container{
  display: flex;
  flex-wrap: wrap;
}
.box1{
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 10px;
}
.box1:nth-child(1) {
  flex-basis: 66%;
  margin-right: 1%;
}
.box1:nth-child(2) {
  flex-basis: 33%;
}

/* FOOTER */

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainfooter{
  margin-top: auto;
  background-color: #142a4f;
  color: #ffffff;
  padding-top: 2em;
  width:100%;
}
p :hover{
  text-decoration: underline;
 }
 
 
 
 ul li :hover{
   text-decoration: underline;
   
 }
 
.container{
  display:flex;
  justify-content: space-around;
}

li{
  color: #ffffff ;
}

.social-media{
  width: 20px;
  height: 24px;
}
.top-link{
  display: flex;
  justify-content: center;
}

.copyright{
  display: flex;
  justify-content: center;
}


.top-link{
  margin-bottom: 1rem;
}
.logo-contact{
  display:flex;
  flex-direction: column ;
}

.explore{
  border-left: 2px solid;
}

img{
  height: 5rem;
  width: 18rem;
  align-content: center;
}

ul{
  list-style: none;
  line-height: 25px;
}


ul.social-media-icons{
  display: flex;
  justify-content: flex-start;
}

.link-heading{
  color: white;
  font-size: 19px;
  margin-bottom: 10px;
  font-weight: bolder ;
}
a{
  text-decoration:none;
  color: #ffffff !important;
}

/*  RESPONSIVE */

@media only screen and (max-width: 796px) {
  .container2{
    overflow-x: scroll;
  } 
  .container2::-webkit-scrollbar{
    width: 0px;
    height: 0px;
  }
  .container2-content{
    min-width: 40%;
    padding-right: 2%;
  }
  .container2-image img {
    height: 100%;
    width: 100%;
  }
  .chart-item {
    width: 100%;
  }
  .button-group{
    margin-left: 5%;
  }
  .button-graph{
    width: 100%;
    margin-left: 0;
  }
  .container{
    display: flex;
    flex-direction: column;
    
  }
  .explore{
    border: none;
  }
  .copyright{
    display: flex;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .top-link{
    margin-left: 40px;
    margin-right: 20px;
  }
  .social-media{
    padding-right:1rem ;
    padding-left: 1rem;
  }
  .box1:nth-child(1) {
    flex-basis: 100%;
  }
  .box1:nth-child(2) {
    flex-basis: 100%;
  }
  .box-container{
    justify-content: center;  
  }
}
@media only screen and (max-width: 500px){
  .container2-content{
    min-width: 60%;
    padding-right: 2%;
  }
  .box1:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  .logo1{
    padding-bottom: 5%;
    border-bottom: 2px solid #fff;
  }
  .header{
    height: 250px;
  }
}